    <h1>Yo, wanna know something 'bout my right arm?</h1>
    <a href="~/home/list#">
        <div class="portrait" style="margin:auto"></div>
    </a>
    <h2>i done flex so hard, i set off fire alarms</h2>
    <p>- Riff Raff</p>
    <div class="divider"></div>
    <a class="bottom-nav-link" href="http://twitter.com/colinmxs">twitter</a>
    <a class="bottom-nav-link" href="#">linkedin</a>
    <a class="bottom-nav-link" href="http://github.com/colinmxs/">github</a>
    <a class="bottom-nav-link" href="#"> blog</a>
    <a class="bottom-nav-link" href="#">facebook</a>
    <a class="bottom-nav-link" href="#">portfolio</a>
