<div class="inner-body-content center">
    <a href="~/home/list#"><div class="image" style="margin:auto;"></div></a>
    <p class="quote">flex so hard you set off fire alarms</p>
    <div class="banner"></div>
    <a href="http://twitter.com/colinmxs" class="socialLink">twitter</a>
    <a href="#" class="socialLink">linkedin</a>
    <a href="http://github.com/colinmxs/" class="socialLink">github</a>
    <a href="#" class="socialLink">blog</a> 
    <a href="#" class="socialLink">facebook</a> 
    <a href="#" class="socialLink">portfolio</a> 
</div>


