    <h1>Colin Smith</h1>
    <a href="~/home/links">
        <div class="portrait" style="margin:auto"></div>
    </a>
    <h2>@Html.Raw(ViewBag.Tweet)</h2><br/>
    <!--<h2>#gobroncos</h2>-->

<div class="divider"></div>
<a class="bottom-nav-link" href="http://twitter.com/colinmxs">twitter</a>
<a class="bottom-nav-link" href="http://lnkd.in/2QzK9Z">linkedin</a>
<a class="bottom-nav-link" href="http://github.com/colinmxs/">github</a>
