<div class="inner-body-content center">
    <h1>Yo, wanna know something 'bout my right arm?</h1>
    <a href="~/home/list#"><div class="image" style="margin:auto;"></div></a>
    <h2 >i done flex so hard, i set off fire alarms</h2>
    <div class="banner"></div>
    <a href="http://twitter.com/colinmxs" class="socialLink">twitter</a>
    <a href="#" class="socialLink">linkedin</a>
    <a href="http://github.com/colinmxs/" class="socialLink">github</a>
    <a href="#" class="socialLink">blog</a> 
    <a href="#" class="socialLink">facebook</a> 
    <a href="#" class="socialLink">portfolio</a> 
</div>


