
@{
    ViewBag.Title = "Links";
}

<h2>Links</h2>
<p>this page houses an unnordered amalgamation of links...do with that knowledge what you will...</p>
<ul>
    <li>
        <a href="http://reddit.com">reddit</a>
    </li>
    <li>
        <a href="http://inbox.google.com">inbox</a>
    </li>
    <li>
        <a href="http://boisestate.edu">boise state university</a>
    </li>
    <li>
        <a href="http://my.boisestate.edu">myboisestate</a>
    </li>                       
    <li>    
        <a href="http://treefortmusicfest.com">treefort</a>
    </li>                              
    <li>
        <a href="http://http://getbootstrap.com/css/">bootstrap css</a>
    </li>
    <li>
        <a href="http://manage.windowsazure.com">azure mgmt portal</a>
    </li>

</ul>
@Html.ActionLink("back", "Index")
